body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

#app {
  width: 100%;
  max-width: 1280px;
}

@media (min-width: 1024px) {
  #app {
    margin-left:1rem;
    margin-right:1rem;
  }
  body {
    display: flex;
    justify-content: center;
    }
}
